<div class="row" dpt-post-summary="" ng-model="postWithComments.post">

</div>
<div class="col-md-offset-3 col-lg-9">
    <p ng-if="postWithComments.post.text" class="dpt-post-text">{{postWithComments.post.text}}</p>

    <div class="row">
        <span>Comment</span>
        <form name="commentForm" ng-controller="CommentFormController">
            <div class="form-group">
                <input type="text" class="form-control" id="commentText" ng-model="comment.text" name="commentText" required="">
            </div>
            <button type="submit" class="btn btn-default" ng-click="doComment()">Comment</button>
        </form>
    </div>
    <div class="row" ng-repeat="comment in postWithComments.comments">
        <small><a>{{comment.owner.username}}</a> {{comment.created}}</small>
        <p>{{comment.text}}</p>
    </div>
</div>
