<div class="dpt-post-summary">
    <div class="col-md-3">
        <button type="button" class="btn btn-default btn-sm">
            <span class="score">{{post.score}}</span>
            <span class="glyphicon glyphicon-chevron-up dpt-up-vote" ng-click="upVote()" ng-if="CurrentUser.isLoggedIn()"></span>
            <span class="glyphicon glyphicon-chevron-down dpt-down-vote" ng-click="downVote()" ng-if="CurrentUser.isLoggedIn()"></span>
        </button>
    </div>
    <div class="col-md-9">
        <p ng-if="!isLinkPost(post)" class="dpt-post-title"><a ng-href="#/post/{{post.id}}">{{ post.title }}</a></p>

        <p ng-if="isLinkPost(post)" class="dpt-post-title"><a ng-href="{{post.link}}">{{ post.title }}</a></p>
        <small>Submitted {{ post.created }} by <a>{{ post.owner.username }}</a></small>
        <p><a ng-href="#/post/{{post.id}}" class="dpt-comments-link">{{ post.comments_total }} comments</a></p>
    </div>
</div>